body {
  font-family: Arial;
  background-color: orange;
  background: #AAAAAA;
  text-align:center;
  margin: 0 0 100px 0;
  background-image: url('../images/index.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



#flag {
  width:25px;
  height:15px;
  border-radius: 5%;
  border: 2px solid #4da6ff;
}

 h1 {
    color: orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

 h4 {
    color: lightgreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

 p {
    color: orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}



* {
	
  box-sizing: border-box;
  
}






/* Style the navigation menu */
.topnav {
 overflow:hidden;
  background-color: blue;
  position:relative;
  z-index:1000;
    -moz-border-radius: 0px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 20px 20px; 
}





/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  text-decoration: underline;

 }

 
 


/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
 
}

/* Style the hamburger menu */
.topnav a.icon {
  background: blue;
  display: block;
  position: relative;
  right: 0;
  top: 0;

}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: purple;
  color: lightgreen;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}


/* Style the active link (or home/logo) */
.active {
  background-color: green;
  color: white;
  pointer-events: none;
}


.active a:hover {
  background-color: green;
  color: white;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}



#myLinks { 
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch; /* mobile safari */
}


 #fejs {
  width:15px;
  height:15px;
}






.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16 {
  display: table-cell;
  width: 90px;
  height: 90px;
  border: 1px solid white;
  background: url(../images/unt.jpg); 
  cursor: pointer;
}

.tile1 {background-position: 0 0;}
.tile2 {background-position: -90px 0;}
.tile3 {background-position: -180px 0;}
.tile4 {background-position: -270px 0;}
.tile5 {background-position: 0 -90px;}
.tile6 {background-position: -90px -90px;}
.tile7 {background-position: -180px -90px;}
.tile8 {background-position: -270px -90px;}
.tile9 {background-position: 0 -180px;}
.tile10 {background-position: -90px -180px;}
.tile11 {background-position: -180px -180px;}
.tile12 {background-position: -270px -180px;}
.tile13 {background-position: 0 -270px;}
.tile14 {background-position: -90px -270px;}
.tile15 {background-position: -180px -270px;}
.tile16 {background: white; cursor: default;}





 #page-container {
  position: relative;
  min-height: 100vh;
 
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */

}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
    background-color: brown;
  color: aquamarine;
  text-align: center;
    -moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 20px 20px 0px 0px; 
	z-index: -1;
}
