* {
  box-sizing: border-box;
}

a {
    color: orange;
}

.header { 
  background-image: url("../images/dep.jpg");
  background-repeat: repeat-x;
  padding: 80px;

}

body {  
  margin: 0; 
  color: #8A2BE2;  
  font-size: 20px;  
  font-family: Arial;  
  background-color: #F0E8A0;  
  text-align: center;  
}  

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #660033;
  color: white;
  bottom:0;
  width: 100%;
  position: fixed;
}
