* {
  box-sizing: border-box;
}

a {
    color: orange;
}

.header { 
  background-color:red;
  background-repeat: repeat-x;
  padding: 80px;

}

body {  
  margin: 0; 
  color: orange;  
  font-size: 20px;  
  font-family: Arial;  
  background-color: blue;  
  text-align: center;  
}  

/* Footer */
.footer {
  padding: 50px;
  text-align: center;
  background: white;
  color: brown;
  bottom:0;
  width: 100%;
  position: fixed;
}
