* {
  box-sizing: border-box;
}


body {
  font-family: Arial;
  margin: 0;
}

a {
    color: #90EE90;
}

h1 { color: #90EE90;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

h4 { color: #90EE90;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.header {
  padding: 50px;
  text-align: center;
  background: #00FF00;
  color: green;
  background: #000000 url(../images/forest.jpg) 100% 100% no-repeat;
}
 

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #808000;
  }

/* Style the navigation bar links */
.navbar a {
  color: #90ee90;
  padding: 14px 20px;
  text-align: center;
  border-bottom: 1px solid #006400;
}

/* Change color on hover */
.navbar a:hover {
  background-color: orange;
  color: green;
  border-top: 1px solid #006400;
}



/* Footer */
.footer {
  padding: 50px;
  text-align: center;
  color: white;
  background: green url(../images/ff.jpg) 100% 100%;
}

  .row, .navbar {   
    flex-direction: column;
  }




